services:

  sonicbeat:
    build:
      context: https://github.com/yazzinios/sonic-speakerbox.git
      no_cache: true
      args:
        VITE_SUPABASE_PROJECT_ID: "iaedzkkysscmzsqccftn"
        VITE_SUPABASE_PUBLISHABLE_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZWR6a2t5c3NjbXpzcWNjZnRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMTkzNjEsImV4cCI6MjA4NzU5NTM2MX0.-sxVzHBLlSvofDvN73_0KkfT5Hc8waoeEKP7AdlYWps"
        VITE_SUPABASE_URL: "https://iaedzkkysscmzsqccftn.supabase.co"
    container_name: sonicbeat
    ports:
      - "8083:80"
    restart: always
    networks:
      sonicbeat-net:
        ipv4_address: 10.10.0.2
    depends_on:
      - hls-server

  hls-server:
    build:
      context: https://github.com/yazzinios/sonic-speakerbox.git#main:streaming-server
      no_cache: true
    container_name: hls-server
    ports:
      - "3001:3001"
    volumes:
      - sonicbeat-hls:/tmp/hls
      - sonicbeat-uploads:/data/uploads
    restart: always
    networks:
      sonicbeat-net:
        ipv4_address: 10.10.0.3

networks:
  sonicbeat-net:
    name: sonicbeat-net
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24
          gateway: 10.10.0.1

volumes:
  sonicbeat-hls:
    name: sonicbeat-hls
  sonicbeat-uploads:
    name: sonicbeat-uploads
